# Convenient flag shortcuts.
build --flag_alias=enable_cuda=@rules_cuda//cuda:enable
build --flag_alias=cuda_archs=@rules_cuda//cuda:archs
build --flag_alias=cuda_compiler=@rules_cuda//cuda:compiler
build --flag_alias=cuda_copts=@rules_cuda//cuda:copts
build --flag_alias=cuda_runtime=@rules_cuda//cuda:runtime

build --cxxopt=-std=c++20 --cxxopt=-O3

# Common CUDA configuration
build:cuda_common --define=CUDA=true
build:cuda_common --cuda_copts=-std=c++20
build:cuda_common --cuda_copts=--generate-line-info
build:cuda_common --cxxopt=-DCUDA=1

# GPU architectures
build:cuda       --config=cuda_common
build:cuda       --cuda_copts=-arch=sm_86

build:cuda_sm_70 --config=cuda_common
build:cuda_sm_70 --cuda_copts=-arch=sm_70
